.preview {
  background-color: #fff;
  border-radius: 5px;
  height: 500px;
  border: 1px solid #ddd
}


.swiper-container {
  padding-bottom: 100px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 550px !important;
  background: var(--base-color);
  color: #fff;
  padding: 22px;
  border-radius: 10px;

}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px;
}

.swiper-button-prev {
  right: 45% !important;
}

.swiper-button-next {
  right: 50% !important;
}